# dependencies
/node_modules
/dist
/build
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# environment variables
.env
.env.local
.env.*.local

# temporary and OS files
.DS_Store
Thumbs.db
*.tsbuildinfo

# editor configuration
.vscode
.idea
*.sublime-workspace

# vite specific cache
/temp
/coverage